html{
  width: 100vw;
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-left: 15px;
  margin-right: 15px;
  background:#1F2834;
  font-family: 'Poppins', sans-serif;
  color: #e9ebeb;
  line-height: 1.5;
  overflow: hidden;

}
p{
  font-size: 14px;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: #e9ebeb;
}
p{
  font-weight: 100;
}
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border-bottom: 2px solid #01A7E6 !important;
  font-size: 1.2em;
}
.regbtn{
  display: inline-block;
  border: 1px solid #e9ebeb;
  background: #25C3B5 !important;
  color: #e9ebeb;
  padding: 10px;
  border-radius: 3px;
  transition-timing-function: ease;
  transition-duration: 1ms;
}
.regbtn:hover{
  background: #AD1457 !important;
}
.sig{
  margin-right: 40px;
}
.container {
  max-width: 1170px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  display: flex;
}
.dia-6{
  position: relative;
  min-height: 1vh;
  padding-right: 35px;
  padding-left: 60px;
  width: 50%;
  height: 100vh;
}
.singT{
  background: #222B38;
}
p.auth-link {
  padding-left: 11px;
}

.default{
  color:#01A7E6;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
h4{
  font-size: 40px;
}
.right-col{
  display: flex;
  align-items: center;
}
.p-text{
  font-size: 2.2em;
}

input[type="text"],input[type="email"],input[type="password"],textarea{
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #293441;
  width: 96%;
  padding: 2%;
  color: #e9ebeb;
  font-family: 'Poppins', sans-serif;
  font-size: 1em; 
}
input:focus, textarea:focus{
  outline: none;
  border-bottom: 1px solid #e9ebeb;
}
.input-row {
  padding-bottom: 25px;
}
.btn.bordered {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.btn.block {
  width: 100%;
  padding: .8em;
  border-width: 0;
  border-radius: 2px;
}
.light-text, a.light-text {
  color: #e9ebeb;
}
.tertiary-bg {
  background-color: #293441;
}
.auth-link a:first-child {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #e9ebeb;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.reg-link a, .auth-link a {
  font-size: 1.2em;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-120{
  padding-top: 120px;
}
.pt-80{
  padding-top: 80px;
}
.home{
  background: url(../img/unidiary_transparent.png);
  background-size: cover; 
  background-position: 50% 48%;
}
.dia-txt{
  margin-top: 30px;
}
.nav-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.nav-item{
  margin-top: 20px;
  border: 1px solid #AD1457;
  background: #222C39;
  padding: 6px;
  border-radius: 5px;
}
li{
  list-style: none;
}
.menu-sidebar-top-avatar{
  width: 200px;
  height: 200px;
  border: 10px solid #1F2834;
  border-radius: 50%;
}

.dashboard-details{
  padding-left: 5px;
  margin-top: 40px;
}
.dashboard-details-bkg{
  background: #222B38;
  height: 100vh;
  width: calc(0.2 * 100vw);
  padding-left: 40px;
}
.main-content{
  height: 100vh;
  width: calc(0.6 * 100vw);
  margin: auto;
  padding-right: 40px;
}
.main-content-bkg{
  background: #222B38;
  margin-bottom: 30px;
  padding: 30px;
}
.userD{
  padding-left: 64px;
}
span.fa {
  color: #00ACED;
  font-size: 20px;
}
h3{
  font-size: 20px;
  line-height: 1.4;
}
.fa-cog {
  padding-left: 54px;
}
.fa-book {
  padding-left: 66px !important;
}
.fa-calendar {
  padding-left: 46px;
}
.menu-sidebar-item{
  margin-top: 25px;
}
.dia-8{
  width: calc(0.6 * 100vw);
  margin-left: auto;
  margin-right: auto;
}
.memForm{
  margin-top: 30px;
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  .dia-8 {
    margin-left: 95px;
    margin-right: 95px;
}
.dia-6 {
  padding-right: 120px;
  padding-left: 120px;
  width: 100%;
}
.home {
  background-position: 100% 100%;
}
.nav-item{
  margin-right: 100px;
}
.main-content {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}
.dashboard-details-bkg {
  width: 100%;
}
ul.dashboard-details {
  position: relative;
  top: -228px;
  left: 317px;
}
.main-content {
  margin-top: -200px;
}
aside {
  position: absolute;
}
.row {
  display: block;
}
body{
  overflow: visible;
}
  /* padding-left: 25px; */
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
  .row{
    display: block;
  }
  body{
    overflow: visible;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
  
}
